<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Proyecto2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
		<description>servlet for login validation</description>
		<display-name>UserControllerServlet</display-name>
		<servlet-name>UserControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.UserControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerServlet</servlet-name>
		<url-pattern>/usercontrollerservlet</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<description>servlet PersonControllerServlet</description>
		<display-name>PersonControllerServlet</display-name>
		<servlet-name>PersonControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.PersonControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonControllerServlet</servlet-name>
		<url-pattern>/personcontrollerservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet AdminContollerServlet</description>
		<display-name>AdminContollerServlet</display-name>
		<servlet-name>AdminContollerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AdminContollerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminContollerServlet</servlet-name>
		<url-pattern>/adminContollerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet AlcoholicContollerServlet</description>
		<display-name>AlcoholicContollerServlet</display-name>
		<servlet-name>AlcoholicContollerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AlcoholicContollerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlcoholicContollerServlet</servlet-name>
		<url-pattern>/alcoholicContollerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet PsychologistContollerServlet</description>
		<display-name>PsychologistContollerServlet</display-name>
		<servlet-name>PsychologistContollerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.PsychologistContollerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PsychologistContollerServlet</servlet-name>
		<url-pattern>/psychologistContollerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet ServicesContollerServlet</description>
		<display-name>ServicesContollerServlet</display-name>
		<servlet-name>ServicesContollerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.ServicesContollerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServicesContollerServlet</servlet-name>
		<url-pattern>/servicesContollerServlet</url-pattern>
	</servlet-mapping>
	
</web-app>